body {
    background-image: url(../media/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: sans-serif;
}

.sideslider {
    background-color: #ecc743;
    height: 43rem;
    width: 39rem;
    margin-right: -7rem;
    float: right;
    opacity: 0.9;
    transform: skewX(-10deg);
}

.top {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 22.7rem;
    transform: skewX(10deg);
}

.h1 {
    margin-right: 0.5rem;
}

.h2 {
    font-size: 6rem;
    font-weight: lighter;
}

.middle {
    margin-left: 29rem;
    margin-top: 18rem;
    transform: skewX(10deg);
}

.p1 {
    margin-top: 0.7rem;
    margin-left: -10rem;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: -13.3rem;
}

.p2 {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: -14.5rem;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.p3 {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: -4rem;
}

.bottom {
    margin-left: 27rem;
    transform: skewX(10deg);
    display: flex;
    place-items: center;
    margin-top: 3.5rem;
    margin-left: 28.6rem;
}

.p4 {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 0.5rem;
}